.message-line {
  white-space: pre-wrap;
  font-family: Inter;
  font-size: 0.75rem;
  color: #333333;
  padding-left: 0.75rem;
  margin-top: 0.25rem;
}

.message-line.human {
  font-weight: 600;
  padding-left: 0.25rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.message-line-data {
  padding-left: 0.25rem;
  margin-top: -0.5rem;
  font-size: 0.7rem;
  color: #666666;
  font-family: Inter;
}

.message-line-data-item {
  display: flex;
  gap: 0.25rem;
}

.message-line-data-key {
  color: #999999;
}

.message-line-data-value {
  color: #333333;
}
